<footer id="casmgmt-footer">
    <div class="row copyright">
        <!-- <div class="col-sm-10">
            <div class="copyright">
                <p>
                    <span th:utext="#{footer.copyright}" />
                    <span th:utext="#{footer.poweredBy(${T(org.apereo.cas.util.CasVersion).getVersion()})}" />
                </p>
            </div>
        </div> -->
        <!-- <div class="col-sm-2">
            <div class="jasig-link">
                <a href="https://yair.jd.com" _target="blank" title="JD YAIR">
                    <img th:src="@{/images/log-scm.png}" /></a>
            </div>
        </div> -->

		<div class="pull-left" style="padding-left:15px">
			<span th:utext="#{footer.copyright}" />
		</div>

		<div class="pull-right">
			<span th:utext="#{footer.poweredBy(${T(org.apereo.cas.util.CasVersion).getVersion()})}" />
		</div>
	</div>
</footer>

